.login-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 50px auto;
    padding: 20px;
    max-width: 400px;
    background-color: #c6c6c6; /* Light gray-blue background */
    border-radius: 10px; /* Smooth edges */
    text-align: center; /* Center the whole form */
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
  }
  
  
  .login-container .error {
    color: #ff0000;
    margin-bottom: 10px;
  }
  
  .login-container label {
    font-weight: normal;
    margin-bottom: 5px; /* Add margin between label and textbox */
    display: inline-block;
    width: 150px; /* Width of the labels */
    text-align: left; /* Align labels to the left */
  }
  
  .login-container .btn {
    margin-top: 10px;
    margin-left: 4px;
    background-color: #000; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-container .btn:hover {
    background-color: #333; /* Darker background color on hover */
  }
  
  .login-container input[type="text"],
  .login-container input[type="email"],
  .login-container input[type="password"] {
    width: calc(100% - 120px); /* Adjusted width for input boxes */
    padding: 10px;
    margin-bottom: 10px;
    border: none; /* Remove border */
    border-radius: 5px;
    vertical-align: middle; /* Align input boxes vertically */
  }
  
  .login-container input[type="text"]:focus,
  .login-container input[type="email"]:focus,
  .login-container input[type="password"]:focus {
    outline: none;
  }
  
  .login-container > div {
    margin-bottom: 10px; /* Add margin between input boxes and buttons */
  }
  