
.full-page, .App {
  display: flex;
  margin: 0;
  padding: 0;
}

.container-for-right_side {
  display: block;
  width: 100%;

}

.container-for-profile-circle {
  height: 65px;
}

* {
  outline: 1px solid black;
}