* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body{ 
  margin: 0;    
  padding: 0; 
}

body {
  max-height: 100vw; 
  width: 100%;  
}

.App {
  height: 100%;
  display: flex;
  box-sizing: border-box;
}

.container-for-left-side {
  height: 100wv;
  min-width: fit-content;
  width: fit-content;
  margin:0;
  padding:0;
  display: block;
}

.container-for-right_side {
  display: block;
  width: 100%;
}

.container-for-profile-circle {
  height: 65px;
}

/* * {
  outline: 1px solid black;
} */