* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html > body { 
  margin: 0;    
  padding: 0; 
  height: 100vh;
}

body {
  max-height: 100vh; 
  width: 100%;  
}

html > body > #root > .App {
  max-height: 100vh;
  display: flex;
  box-sizing: border-box;
}


.container-for-right_side {
  display: block;
  width: 100%;
  overflow-y: scroll; /*remove later*/
}

.container-for-profile-circle {
  height: 65px;
}

/* * {
  outline: 1px solid black;
} */