
  
  .circle {
    position: absolute;
    top: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    width: 40px; /* Adjust as needed */
    height: 40px; 
    background-color: #ffffff; /* Adjust color as needed */
    border: 1px solid #000000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; /* Add cursor style */
  }
  
  .letter {
    font-family: system-ui;
    color: #000000;
    font-size: 24px; /* Adjust font size as needed */
  }
  
  .dropdown-menu {
    position: absolute;
    top: 70px;
    right: 10px; 
    width: fit-content;
  
    z-index:1;

    min-width: 80px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: block;
  }
  
  .circle:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu ul {
    list-style: none;
    padding: 1px;
    margin: 0;
  }
  
  .dropdown-menu li {
    position: relative;    
    display: block; /* Make list items behave like block elements */
    width: 100%; /* Span the entire width of the ul */
    padding: 7px 5px;
    cursor: pointer; /* Indicate clickable behavior */
    border-bottom: 1px solid #ddd; /* Add a subtle border between items */
    box-sizing: border-box;
  }

  .dropdown-menu li:hover { /* Style for hovering over menu items */
    background-color: #eee; /* Optional: Highlight on hover */
  }