.select-container {
    /* font-family: 'Courier New', Courier, monospace; */
    padding-bottom: 8px;
}

.select-container select {
    border: none;
    width: 100%;
    padding: 3px;
    background-color: inherit;
    user-select: none;
    outline: none;
    display: flex;
}

.allergy-option {
    margin: 0 !important;
    padding: 0 !important;
    width: fit-content;
    display: inline;
    background-color: inherit;
    outline: none;
    border: none;
    display: flex;
}

.option-text {
    font-size: 13px ;
    margin: 0 !important;
    padding: 6px !important;
    margin-left: 30px !important;
    position: relative;
    left: -10px;
    width: fit-content;
    cursor: pointer;
}

.check-mark {
    margin: 0 !important;
    padding: 0 10px !important;
    position: absolute;
    transform: translateY(+20%);
    left: 5px; /* Adjust this value as needed */
    justify-content: center;
}
